p.switch{
  float:right;
  text-decoration:none;
  color:var(--secondary);
}
p.switch:hover{
  text-decoration:underline;
  cursor:pointer;
}

h2.brand{
  text-decoration:none;
}
h2.brand:hover{
  cursor:pointer;
  text-decoration:underline;
}

div.message{
  padding:8px 4px;
  border:1px solid var(--background-lighter);
  border-radius:10px;
  margin-bottom:10px;
  max-width:500px;
  overflow:hidden;
}
div.message span{
  color:var(--primary-darker);
}

div.message span.date{
  float:right;
  color:var(--secondary);
}